:root {
  --fs-small: clamp(0.9rem, 1.8vw, 1.1rem);
  --fs-medium: clamp(1rem, 2vw, 1.3rem);
  --fs-large: clamp(1.5rem, 3vw, 2rem);
}

body {
  overflow-x: hidden;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  transform: scale(1);
  transform-origin: top center;
  transition: transform 0.3s ease;
}

@media (max-width: 1200px) {
  .page-container {
    transform: scale(0.95);
  }
}

@media (max-width: 1000px) {
  .page-container {
    transform: scale(0.9);
  }
}

@media (max-width: 800px) {
  .page-container {
    transform: scale(0.8);
  }
}

@media (max-width: 600px) {
  .page-container {
    transform: scale(0.7);
  }
}

.hero-section {
  margin-top: -0.1rem; /* Adjust as needed */
  z-index: 1;
  height: 12rem; /* Increased height for better visibility */
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

/* .hero-overlay {
  background-color: rgba(0, 0, 0, 0.196);
  padding: rem 1rem;
  border-radius: 10px;
} */

.sections-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 0 20px;
  margin-bottom: 30px;
}

.sections-title {
  margin: 20px 0 10px;
  font-size: var(--fs-large);
  text-align: center;
}

.section-circle {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;
  cursor: pointer;
  border-radius: 50% 20% 40% 30% / 30% 40% 20% 50%;
}

.section-circle:hover {
  transform: scale(1.05);
}

.section-circle .icon {
  font-size: clamp(1.3rem, 2.5vw, 1.7rem);
  margin-bottom: 8px;
}

.section-circle .label {
  font-size: var(--fs-small);
  font-weight: bold;
  line-height: 1.3;
}

