/* ========== Navbar ========== */

/* Remove default margin and padding from body and html */
/* Reset default spacing from browser */
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Tajawal', sans-serif;
  direction: rtl;
}
#google_translate_element select {
  background: white;
  border: none;
  padding: 6px;
  font-size: 14px;
}
